* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body {
  min-height: 100vh;
  background: black;
  background-size: cover;
  color: white;
}
.section {
  position: absolute;
  right: 40%;
  top: 20%;
}
