* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body {
  min-height: 100vh;
  background: black;
  background-size: cover;
  color: white;
}

.registration-form {
  position: absolute;
  top: 12%;
  right: 26%;
}

.registration-form Form.label[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}
